node_modules
**/node_modules
dist
build
.git
.github
.vscode
.env
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
bin/
lib/
include/
local/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
Automated Loan Approval Using ML.pptx
IEEE_Conference_Template (5) (1).pdf
